<cruisecontrol>
    <project name="FlexWikiCore-18">
    
        <workingDirectory>flexwikicore-18</workingDirectory>
        
        <webURL>http://builds.flexwiki.com/</webURL>
        
        <modificationDelaySeconds>60</modificationDelaySeconds>
        
        <state type="state" />
        
        <!-- We set this because the CVS server at SourceForge is
             just flaky enough to give us fairly frequent problems. -->
        <publishExceptions>false</publishExceptions>
        
        <sourcecontrol type="cvs">
            <executable>cvs.exe</executable>
            <workingDirectory>build</workingDirectory>
            <autoGetSource>false</autoGetSource>
            <branch>branch-1-8</branch>
        </sourcecontrol>
        
        <tasks>
            <nant>
                <executable>flexwikicore-18\build\tools\nant\bin\nant.exe</executable>
                <baseDirectory>.</baseDirectory>
                <buildArgs>/D:configuration=Release /D:automated.build=true</buildArgs>
                <buildFile>ccnet.build</buildFile>
                <targetList>
                </targetList>
                <buildTimeoutSeconds>1200</buildTimeoutSeconds>
           </nant>
        </tasks>
        
        <publishers>
          
            <merge>
                <files>
                    <file>build\reports\nunit.xml</file>
                    <file>build\reports\version.xml</file>
                    <file>build\reports\verify.xml</file>
                    <file>build\reports\sqltest.xml</file>
                    <file>build\reports\fxcop.xml</file>
                </files>
            </merge>
          
            <xmllogger logdir="web\logs" />
            
            <email from="flexwiki-admins@lists.sourceforge.net" mailhost="localhost" includeDetails="TRUE">
                <users>
                    <user name="buildlist" group="always" address="flexwiki-builds@lists.sourceforge.net"/>
                </users>
                <groups>
                    <group name="always" notification="always"/>
                </groups>
            </email>
            
        </publishers>
    
    </project>
    
</cruisecontrol>