<cruisecontrol>
  <project name="FlexWikiCore">
    <state type="state" filename="flexwikicore\ccnet.state" />
    <webURL>http://builds.flexwiki.com/flexwikicore</webURL>
    <schedule type="schedule" sleepSeconds="120"/>
    <sourcecontrol type="cvs">
      <executable>cvs.exe</executable>
      <workingDirectory>flexwikicore\build</workingDirectory>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>
    <build type="nant">
      <executable>flexwikicore\build\tools\nant\bin\nant.exe</executable>
      <baseDirectory>flexwikicore</baseDirectory>
      <buildArgs>/D:configuration=Release</buildArgs>
      <buildFile>ccnet.build</buildFile>
      <targetList>
      </targetList>
      <buildTimeoutSeconds>300</buildTimeoutSeconds>
    </build>
    <tasks>
      <merge>
	<files>
	  <file>flexwikicore\build\reports\nunit.xml</file>
	  <file>flexwikicore\build\reports\version.xml</file>
	  <file>flexwikicore\build\reports\verify.xml</file>
	</files>
      </merge>
    </tasks>
    <publishers>
      <xmllogger>
        <logDir>flexwikicore\web\logs</logDir>
      </xmllogger>
      <email from="flexwiki-builds@lists.sourceforge.net" mailhost="localhost" includeDetails="TRUE">
	<projectUrl>http://builds.flexwiki.com/flexwikicore</projectUrl>
	<users>
          <user name="buildlist" group="always" address="flexwiki-builds@lists.sourceforge.net"/>
        </users>
        <groups>
          <group name="always" notification="always"/>
        </groups>
      </email>
    </publishers>
    <modificationDelaySeconds>30</modificationDelaySeconds>
  </project>
</cruisecontrol>